.container {
  display:flex;
  justify-content: center;
  align-items: center;
  
  .content {
    // border:1px solid blue;    
    height: 780px;


    div {
      // border:1px solid red;
      position: relative;
      top: 10%;
      left: 40%;

      h1 {
        // border:1px solid red;
        color:#F2EBE3;
        font-family: 'Fira Sans', sans-serif;
        font-size: 45px;
        margin: 0 0 -13px 0;
        padding: 0;
      }
      h2 {
        color:#F2EBE3;
        font-family: 'Fira Sans', sans-serif;
        font-size: 45px;
        // border:1px solid red;
        text-align: right;
      }
      p {
        color:#F2EBE3;
        font-family: 'Shadows Into Light', cursive;
        font-size: 24px;
        font-style: normal;
      }
    }
  }
}

@media (max-width: 440px)
{
  .container {
    
    .content {
      // height: 780px;
      div {
        // border:1px solid red;
        position: relative;
        top: 10%;
        left: 0;

        p,
        h1,
        h2 {
          // border:1px solid red;
          text-align: center;
        }
        
      }
    }
  }
}
